Source: ruby-ruby2ruby
Section: ruby
Priority: optional
Maintainer: David Greaves <david@dgreaves.com>
Uploaders: Islam Amer <islam.amer@nokia.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.1), ruby-minitest, ruby-sexp-processor, libparsetree-ruby, ruby-ruby-parser (> 2.0), ruby-minitest (>= 1.7.1)
Standards-Version: 3.9.1
#Vcs-Git: git://git.debian.org/pkg-ruby-extras/ruby-ruby2ruby.git
#Vcs-Browser: http://git.debian.org/?p=pkg-ruby-extras/ruby-ruby2ruby;a=summary
Homepage: http://seattlerb.rubyforge.org/
XS-Ruby-Versions: all

Package: ruby-ruby2ruby
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8 | ruby-interpreter, ruby-sexp-processor (> 3.0), ruby-ruby-parser (> 2.0)
# sexp_processor (~> 3.0, runtime), ruby_parser (~> 2.0, runtime), rubyforge (>= 2.0.4, development), minitest (>= 1.7.1, development), ParseTree (~> 3.0, development), hoe (>= 2.6.2, development)
Description: ruby2ruby provides a means of generating pure ruby code easily from RubyParser compatible Sexps
 ruby2ruby provides a means of generating pure ruby code easily from
 RubyParser compatible Sexps. This makes making dynamic language
 processors in ruby easier than ever!
